#text
doc
docx
log
msg
odt
pages
rtf
tex
txt
wpd
wps

#data
csv
dat
ged
key
keychain
pps
ppt
pptx
sdf
tar
tax2016
tax2018
vcf
xml

#audio
aif
iff
m3u
m4a
mid
mp3
mpa
wav
wma

#video
3g2
3gp
asf
avi
flv
mp4
mpg
rm
srt
swf
vob
wmv

#3dimg
3dm
3ds
max
obj

#rasterimg
bmp
dds
gif
heic
jpg
png
psd
pspimage
tga
thm
tif
tiff
yuv

#vectorimg
ai
eps
ps
svg

#pagelayout
indd
pct
pdf

#spreadsheet
xlr
xls
xlsx

#database
accdb
db
dbf
mdb
pdb
sql

#executable
apk
app
bat
cgi
com
exe
gadget
jar
wsf

#game
b
dem
gam
nes
rom
sav

#CAD
dwg
dxf

#GIS
gpx
kml
kmz

#web
asp
aspx
cer
cfm
csr
css
dcr
htm
html
js
jsp
php
rss
xhtml

#plugin
crx
plugin

#font
fnt
fon
otf
ttf

#system
cab
cpl
cur
deskthemepack
dll
dmp
drv
icns
ico
lnk
sys

#settings
cfg
ini
prf

#encoded
hqx
mim
uue

#compress
7z
cbr
deb
gz
pkg
rar
rpm
sitx
tar.gz
zip
zipx

#diskimg
bin
cue
dmg
iso
mdf
toast
vcd

#developer
c
class
cpp
cs
dtd
fla
h
java
lua
m
pl
py
sh
sln
swift
vb
vcxproj
xcodeproj

#backup
bak
tmp

#misc
crdownload
ics
msi
part
torrent
